.content {
  &__logo {
    margin-top: 30px;
    display: flex;

    width: 100%;
    justify-content: center;
    align-items: center;
    & img {
      height: 120px;
    }
    & h1 {
      font-family: $ubuntu-font;
      font-weight: 600;
      font-style: italic;
      font-size: 66px;
    }
  }
  & p {
    display: flex;

    justify-content: center;
    font-family: $titillium-font;
    font-size: 27px;
  }
}
